# secrets
.env
*.env

# python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# os
.DS_Store

# outputs you don't want committed
*.pdf
!Assignment3_Submission.pdf

*.csv
*.xer
contract_and_policy_terms.md